.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    &__wrapper {
        background-color: #031d33;
        color: white;
    }
    &__search {
        margin-right: 100px;
    }
}