.header {
    &__logo {
        font-size: 32px;
        color: $white;
        margin: 22px 0;
    }
        display: flex;
        justify-content: space-between;
        align-items: center;
    &__wrapper {
        background-color: $dark_blue;
        color: $white;
    }
    &__search {
        &-input {
            border: none;
            border-radius: 10px;
        }
        &-submit {
            border: none;
            background-color: inherit;
            color: $white;
            cursor: pointer;
        }
    }
}