.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    &__wrapper {
        background-color: $dark_blue;
        color: $white;
    }
    &__search {
        margin-right: 100px;
    }
}