.top_rated {
    display: flex;
    flex-wrap: wrap;
    &__movie{
        margin: 0 15px 25px 0;
        position: relative;
    }
    &__rate {
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: $white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        width: 200px;
    }
}